<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"  id="logo">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white " aria-current="page" href="{{ path('apps_index')}}">Applications</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link text-white " href="#">Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{{path('app_logout')}}">Me deconnecter</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{{path('app_register')}}">M'enregistrer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="{{path('app_login')}}">Me connecter</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>